Repository DeveloperAcademy-POSTECH/MC3_Team5_NealAndBori, pull requests merged in 2022-07, with the labels that each got.

#19 [FEAT] 탭바 구현 및 Home 과 My page ViewController 생성
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/Base.lproj/Main.storyboard
  Gwayeon/Controllers/HomeViewController.swift
  Gwayeon/Controllers/MainTabBarViewController.swift
  Gwayeon/Controllers/MyPageViewController.swift
  Gwayeon/Globals/Extension/Color+Extension.swift
  Gwayeon/Globals/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Gwayeon/Globals/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Gwayeon/Globals/Resources/Assets.xcassets/Contents.json
  Gwayeon/Globals/Resources/Assets.xcassets/TabBarColor.colorset/Contents.json
  Gwayeon/Info.plist
  Gwayeon/SceneDelegate.swift
  Gwayeon/ViewController.swift
Labels: ▪️ Home, 닐, 🖍 Design

#30 [Feat] Detail view UI
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/Controllers/DetailViewController.swift
  Gwayeon/Globals/Extension/Color+Extension.swift
  Gwayeon/Globals/Resources/Assets.xcassets/mainColor.colorset/Contents.json
  Gwayeon/Globals/Resources/Assets.xcassets/peachColor.colorset/Contents.json
  Gwayeon/Globals/Resources/Assets.xcassets/peaches.imageset/Contents.json
  Gwayeon/Globals/Resources/Assets.xcassets/peaches.imageset/peaches 1x.png
  Gwayeon/Globals/Resources/Assets.xcassets/peaches.imageset/peaches 2x.png
  Gwayeon/Globals/Resources/Assets.xcassets/peaches.imageset/peaches 3x.png
  Gwayeon/SceneDelegate.swift
Labels: 에이든, 🖍 Design, detail View

#28 [FEAT] RecommendToFriendView UI 구현
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/RecommendToFriendViewController.swift
Labels: ▪️ Farm Recommend, 소니, 🖍 Design

#39 [FEAT] 농장 추천 UI 구현
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/InputSection.swift
  Gwayeon/RecommendFarmViewController.swift
Labels: ▪️ Farm Recommend, 제리, 🖍 Design

#35 [Feat] Friend List View 테이블 구현
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/Assets.xcassets/apple.imageset/Contents.json
  Gwayeon/Assets.xcassets/apple.imageset/fruit-356519_1280.png
  Gwayeon/FriendList/FriendListViewCell.swift
  Gwayeon/FriendList/FriendListViewController.swift
Labels: 메리, 🖍 Design, ▪️ Friend List

#40 [FEAT] Detail view Button 새로 구현
  Gwayeon/Controllers/DetailViewController.swift
  Gwayeon/Controllers/HomeViewController.swift
  Gwayeon/SceneDelegate.swift
Labels: 에이든, 🖍 Design, detail View

#41 [FEAT] 마이 페이지 상단 네비게이션 타이틀 및 나의 상태 뷰
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/Controllers/MyPageViewController.swift
  Gwayeon/Globals/Extension/NSMutableAttributedString+Extension.swift
Labels: 닐, My Page

#45 [FEAT] My Page Segment Control 기능 구현
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/Controllers/MyPageViewController.swift
  Gwayeon/Globals/Extension/UIButton+Extension.swift
Labels: 닐, My Page

#46 [Feat] MyPage에서 홈의 CollectionView 불러오기
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/Controllers/EmptyButtonCollectionViewCell.swift
  Gwayeon/Controllers/MyPageViewController.swift
  Gwayeon/Globals/Extension/NSMutableAttributedString+Extension.swift
Labels: 닐, My Page

#47 [Feat] Friend list 뷰 footer, navigation bar 추가
  Gwayeon/FriendList/FriendListViewCell.swift
  Gwayeon/FriendList/FriendListViewController.swift
  Gwayeon/Globals/Resources/Assets.xcassets/apple.imageset/Contents.json
  Gwayeon/Globals/Resources/Assets.xcassets/apple.imageset/fruit-356519_1280.png
Labels: 메리, ▪️ Friend List

#58 [ADD] 이슈 템플릿 추가
  .github/ISSUE_TEMPLATE/bug-issue-template.yml
  .github/ISSUE_TEMPLATE/feature-issue-template.yml
  .github/ISSUE_TEMPLATE/fix-issue-template.yml
  .github/ISSUE_TEMPLATE/gwayeon-bug-report.md
  .github/ISSUE_TEMPLATE/gwayeon-issue-template.md
  .github/ISSUE_TEMPLATE/prepare-issue-tamplete.yml
  .github/ISSUE_TEMPLATE/question-issue-tamplete.yml
Labels: 코비

#71 [FEAT] addSubviews라는 함수 UIView Extension추가
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/Globals/Extension/UIView+Extension.swift
Labels: 닐

#55 [FEAT] 과일 상세페이지 CollectionView 가로 Scroll로 구현
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/Controllers/DetailViewController.swift
  Gwayeon/Views/ReviewCollectionView.swift
  Gwayeon/Views/ReviewCollectionViewCell.swift
Labels: 에이든, 🖍 Design, detail View

#56 [FEAT] username setting view UI 구현
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/Controllers/UsernameSettingViewController.swift
Labels: 소니, 🖍 Design, ▪️Username Setting

#73 [Feat] Friend Add (과연 추가) UI 구현
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/Controllers/FriendAddResultCellView.swift
  Gwayeon/Controllers/FriendAddViewController.swift
Labels: 메리, 🖍 Design, ▪️ Friend Add

#61 [FEAT] 과일 태그 선택 기능 추가
  Gwayeon/Controllers/FruitCollectionViewCell.swift
  Gwayeon/Controllers/FruitListView.swift
Labels: ▪️ Home, 코비, 🖍 Design

#67 [FEAT] 상세 페이지 전화 연결 기능 구현
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/Controllers/DetailViewController.swift
Labels: 에이든, 🖍 Design, detail View

#63 [FEAT] 메인화면 빈화면
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/Controllers/FruitEmptyView.swift
  Gwayeon/Controllers/FruitListView.swift
  Gwayeon/Controllers/HomeViewController.swift
  Gwayeon/Globals/Extension/Color+Extension.swift
Labels: ▪️ Home, 코비, 🖍 Design

#66 [FEAT] MyPage 나의 추천 농장, 구매한 과일 별도 CollectionViewCell 생성
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/Controllers/MyPageFruitListCollectionViewCell.swift
  Gwayeon/Controllers/MyPageViewController.swift
  Gwayeon/RecommendToFriendViewController.swift
Labels: 닐, My Page

#80 [Feature]: 복숭아로 템플릿 바꾸기
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 📖 Docs, 코비

#76 [FEAT] 파이어베이스 연결 및 userid를 통해 User정보 받아오는 함수 구현
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon.xcodeproj/xcuserdata/yudonlee.xcuserdatad/xcschemes/xcschememanagement.plist
  Gwayeon/AppDelegate.swift
  Gwayeon/FirebaseManagerTestUI/TestViewController.swift
  Gwayeon/GoogleService-Info.plist
  Gwayeon/Manager/FirebaseManager.swift
  Gwayeon/Models/User.swift
Labels: 닐, ProjectSetting, Firebase

#84 [Feat] 이름 입력과 프로필 완성 네비게이션 링크
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/Controllers/UsernameSettingViewController.swift
Labels: 소니, ▪️Username Setting, NavigationLink

#95 [Feat] 프로필 세팅에서 username passing
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/Controllers/UserProfileCompletionViewController.swift
  Gwayeon/Controllers/UsernameSettingViewController.swift
Labels: 소니, ▪️Username Setting, NavigationLink

#92 [Feat] Friend Add 검색 버튼 서버 연결
  Gwayeon/Controllers/FriendAddResultCellView.swift
  Gwayeon/Controllers/FriendAddViewController.swift
Labels: 메리, ▪️ Friend Add

#99 [Feat] 파이어베이스 기본적인 모델, 다시 만들기
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/FirebaseManagerTestUI/TestViewController.swift
  Gwayeon/Manager/FirebaseManager.swift
  Gwayeon/Models/Fruit.swift
  Gwayeon/Models/Recommend.swift
  Gwayeon/Models/User.swift
Labels: 닐, Firebase

#100 [Feat] 파이어베이스 수정된 모델을 바탕으로 한 새로운 API 만들기
  Gwayeon/Controllers/FriendAddResultCellView.swift
  Gwayeon/Controllers/FriendAddViewController.swift
  Gwayeon/FirebaseManagerTestUI/TestViewController.swift
  Gwayeon/Manager/FirebaseManager.swift
  Gwayeon/Models/Fruit.swift
  Gwayeon/Models/Recommend.swift
  Gwayeon/Models/User.swift
  Gwayeon/SceneDelegate.swift
Labels: 닐, Firebase

#107 [Chore] 오타 수정
  Gwayeon/Controllers/FriendAddViewController.swift
Labels: BugFix, 닐

#110 [Feat] 유저 생성 및 온보딩
  Gwayeon/Controllers/UserProfileCompletionViewController.swift
  Gwayeon/Manager/FirebaseManager.swift
  Gwayeon/SceneDelegate.swift
Labels: 코비, Firebase

#102 [Feat] Friend Add (과연 추가) 화면 추가 버튼 구현
  Gwayeon/Controllers/FriendAddViewController.swift
Labels: 메리, ▪️ Friend Add

#122 [Feat][긴급] 친구추가 FirebaseManager 구현완료
  Gwayeon/FirebaseManagerTestUI/TestViewController.swift
  Gwayeon/Manager/FirebaseManager.swift
Labels: 닐, Firebase

#125 [Feat] 로그인된 사용자 정보 가져오기
  Gwayeon/Controllers/UserProfileCompletionViewController.swift
  Gwayeon/Manager/FirebaseManager.swift
Labels: 코비, Firebase

#118 [Feat] 추천 한마디 firestore 연결
  Gwayeon/RecommendToFriendViewController.swift
Labels: ▪️ Farm Recommend, 소니

#123 [Feat] 과일 추천하기 - 서버 연결
  Gwayeon/RecommendFarmViewController.swift
Labels: ▪️ Farm Recommend, 제리, Firebase

#94 [Feature]: 상세 페이지 Half Modal 구현
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/Controllers/BottomSheetViewController.swift
  Gwayeon/Controllers/DetailViewController.swift
  Gwayeon/Views/ReviewCollectionView.swift
Labels: 에이든, 🖍 Design, detail View

#117 [Feat] FriendAdd(과연 추가) 화면 모달 구현
  Gwayeon/Controllers/FriendAddViewController.swift
  Gwayeon/Controllers/FruitEmptyView.swift
  Gwayeon/Controllers/HomeViewController.swift
  Gwayeon/FriendList/FriendListViewController.swift
Labels: 메리, ▪️ Friend Add, NavigationLink

#131 [Feat] 유저 정보 가져와서 과일 추천하기
  Gwayeon/RecommendFarmViewController.swift
Labels: ▪️ Farm Recommend, 제리

#134 [Feat] 과연에게 추천한마디 - 유저정보 가져오기 적용
  Gwayeon/RecommendToFriendViewController.swift
Labels: ▪️ Farm Recommend, 소니
