Repository DeveloperAcademy-POSTECH/MC3_Team5_NealAndBori, pull requests merged in 2022-08, with the labels that each got.

#113 [Feat]: 농장 상세 정보 화면에서 전화 상태 감지
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/Controllers/DetailViewController.swift
Labels: ▪️ Farm Detail, 코비

#129 [Fix] 온보딩 랜덤과일 선택 오류 해결
  Gwayeon/Controllers/UserProfileCompletionViewController.swift
Labels: BugFix, 코비

#133 [Feat] FriendAdd(과연 추가) 화면 서버 연결
  Gwayeon/Controllers/FriendAddResultCellView.swift
  Gwayeon/Controllers/FriendAddViewController.swift
Labels: 메리, ▪️ Friend Add

#137 [Feat] 전화 끊은 후에, 모달 띄우기
  Gwayeon/Controllers/DetailViewController.swift
Labels: 코비, detail View

#142 [Fix]: 상단의 네비바 없애기
  Gwayeon/SceneDelegate.swift
Labels: BugFix, 코비, 🖍 Design

#145 [Fix] + 버튼 윗 공간 생기는 에러 수정
  Gwayeon/Controllers/EmptyButtonCollectionViewCell.swift
Labels: BugFix, ▪️ Farm Recommend, 제리

#147 [Fix] TabBarItem image 변경 및 TabBarItem title 변경
  Gwayeon/Controllers/MainTabBarViewController.swift
Labels: ▪️ Home, 소니

#151 [FIX] 이미지 뷰와 추천 한 마디 텍스트 간격 조절
  Gwayeon/Controllers/DetailViewController.swift
Labels: BugFix, 에이든, detail View

#155 [Fix] 과일 추천하기와 상세뷰 네비게이션 시 탭바 숨기기
  Gwayeon/Controllers/EmptyButtonCollectionViewCell.swift
  Gwayeon/Controllers/HomeViewController.swift
  Gwayeon/Controllers/MyPageViewController.swift
Labels: BugFix, ▪️ Farm Detail, 제리, detail View

#153 [FEAT] My page 나의 추천과일 리스트, 구매리스트 기능
  .swiftlint.yml
  Gwayeon.xcodeproj/project.pbxproj
  Gwayeon/Controllers/MyPageFruitListCollectionViewCell.swift
  Gwayeon/Controllers/MyPageViewController.swift
  Gwayeon/FirebaseManagerTestUI/TestViewController.swift
  Gwayeon/Globals/Resources/Assets.xcassets/peach.imageset/Contents.json
  Gwayeon/Globals/Resources/Assets.xcassets/peach.imageset/peach.png
  Gwayeon/Manager/FirebaseManager.swift
  Gwayeon/ViewModels/BuyingFruitViewModel.swift
  Gwayeon/ViewModels/RecommendFruitViewModel.swift
Labels: 닐, My Page, Firebase

#148 [Feat] Friend List (과연 리스트) 화면 서버 연결
  Gwayeon/Controllers/FriendAddViewController.swift
  Gwayeon/Controllers/MyPageViewController.swift
  Gwayeon/FirebaseManagerTestUI/TestViewController.swift
  Gwayeon/FriendList/FriendListViewCell.swift
  Gwayeon/FriendList/FriendListViewController.swift
  Gwayeon/Manager/FirebaseManager.swift
Labels: 메리, ▪️ Friend List

#159 [Fix] 과연하게 추천하기 모달로 변경
  Gwayeon/Controllers/MyPageFruitListCollectionViewCell.swift
  Gwayeon/RecommendToFriendViewController.swift
Labels: ▪️ Farm Recommend, 소니, NavigationLink

#157 [FEAT] my page title 폰트 크기 변경, 프로필과 간격 조정
  Gwayeon/Controllers/MyPageViewController.swift
Labels: BugFix, 에이든, detail View

#139 [Feat] 온보딩에서 랜덤 과일 선택, 유저데이터에 넣기
  Gwayeon/Controllers/UserProfileCompletionViewController.swift
Labels: 코비, Firebase

#161 [Fix] Hide navigationBar at HomeView
  Gwayeon/Controllers/UserProfileCompletionViewController.swift
Labels: BugFix, ▪️ Home, 소니

#164 [ADD] asset에 앱 아이콘 추가
  Gwayeon/Globals/Resources/Assets.xcassets/AppIcon.appiconset/120-1.png
  Gwayeon/Globals/Resources/Assets.xcassets/AppIcon.appiconset/120.png
  Gwayeon/Globals/Resources/Assets.xcassets/AppIcon.appiconset/180.png
  Gwayeon/Globals/Resources/Assets.xcassets/AppIcon.appiconset/40.png
  Gwayeon/Globals/Resources/Assets.xcassets/AppIcon.appiconset/58.png
  Gwayeon/Globals/Resources/Assets.xcassets/AppIcon.appiconset/60.png
  Gwayeon/Globals/Resources/Assets.xcassets/AppIcon.appiconset/80.png
  Gwayeon/Globals/Resources/Assets.xcassets/AppIcon.appiconset/87.png
  Gwayeon/Globals/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Gwayeon/Globals/Resources/Assets.xcassets/AppIcon.appiconset/appstore.png
Labels: 에이든, 🖍 Design

#163 [Fix] 복숭아 이미지명 변경 코드에 적용
  Gwayeon/Controllers/FriendAddViewController.swift
  Gwayeon/Controllers/FruitRecommend/FruitSelectViewController.swift
  Gwayeon/Controllers/UserProfileCompletionViewController.swift
Labels: BugFix, 제리

#169 [FIX] 전체적인 버튼 크기와 텍스트 크기 통일
  Gwayeon/Controllers/BottomSheetViewController.swift
  Gwayeon/Controllers/DetailViewController.swift
  Gwayeon/Controllers/FriendAddViewController.swift
  Gwayeon/Controllers/UserProfileCompletionViewController.swift
  Gwayeon/Controllers/UsernameSettingViewController.swift
  Gwayeon/Globals/Resources/Assets.xcassets/blueberry.imageset/blueberry.png
  Gwayeon/RecommendFarmViewController.swift
  Gwayeon/RecommendToFriendViewController.swift
Labels: BugFix, 에이든

#167 [Fix] 새로운 과일 추천 쿼리 수정, 새로운 과일 추천 뷰 버튼 활성화 수정
  Gwayeon/Manager/FirebaseManager.swift
  Gwayeon/RecommendFarmViewController.swift
Labels: BugFix, ▪️ Farm Recommend, Firebase
